<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projeto.estgf.ipp.pt.projeto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VooHotelActivity" />
        <activity android:name=".HotelActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PesquisaActivity" />
        <activity android:name=".Voo" />
        <activity android:name=".Registo_Activity" />
        <activity android:name=".hoteis.PesquisaHoteis" />
        <activity android:name=".hoteis.HoteisDetalhes" />
        <activity android:name=".VoosDetalhes" />
        <activity android:name=".hoteis.PesquisaHoteis" />
        <activity android:name=".hoteis.HoteisDetalhes" />
        <activity android:name=".PesquisaVooHotel" />
        <activity android:name=".Registo_Activity" />
        <activity android:name=".hoteis.PesquisaHoteis" />
        <activity android:name=".hoteis.HoteisDetalhes" />
        <activity android:name=".ResultAdapterSaveVoos" />
        <activity android:name=".PesquisasGuardadasVoos" />
        <activity android:name=".MenuPesquisasGuardadas" />
        <activity android:name=".PesquisasGuardadasHoteis" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA7mUE_huL6FZ4dB71Nv99FKBz2dayECkE" />

        <activity android:name=".hoteis.SetupMaps"></activity>
    </application>

</manifest>